h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    border: 200px;
}

body{
    background-color: #00ac9f;
}
img{
    width: 300px;
    height: 350px;
    
}
.container{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}